{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status!</title>

    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
          integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Chicle" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="{% static 'js/autoresize.jquery.js' %}" type="text/javascript" rel="script"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript" rel="script"></script>
</head>

<body id="body" class="body">
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header>
    {% include 'partials/navbar.html' %}
</header>
<h1 id="title" align="center">Hello! Apa Kabar?</h1>
<div class="button-group">
    <div class="profile-button"><a id="profile" class="profile" href="{% url 'profile-page' %}">MY PROFILE</a></div>
    <button id="change-theme" class="change-theme">Change Theme!</button>
</div>
<section class="form-section">
    <form id="form-status" class="form-status" action="/result/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            {{ form }}
        </div>
        <div class="counter-group">
            <div class="counter-div">
                <p id="counter"></p>
            </div>
            <div class="submit-button">
                <input id="submit" class="submit" type="submit" value="Post">
            </div>
        </div>
    </form>
</section>
<section class="result">
    <h1 id="status-title" align="center">STATUS</h1>
    {% for field in result %}
        <div class="result-box">
            <p class="date"><i class="fas fa-calendar-alt"> </i>{{ field.created_at }}</p>
            <p class="result-text"><i class="fas fa-comment-alt"></i>{{ field.status_message }}</p>
        </div>
    {% endfor %}
</section>
</body>
</html>