{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Profile</title>

    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/index.js' %}" type="text/javascript" rel="script"></script>
</head>
<body id="body" class="body">
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>
<header>
    {% include 'partials/navbar.html' %}
</header>
<section class="header">
    <div class="biodata">
        <h1 align="center">PROFILE</h1>
        <img class="img-circle" src="{% static 'img/profpic.jpg' %}">
        <p class="text" align="center">
            Hello, My name is <strong>George Matthew Limongan!</strong><br>
            I'm currently a student at <strong>University of Indonesia</strong>, my faculty is Computer Science. <br>
            I really like to <strong>sleep</strong>. My student number is <strong>1706043891</strong>. <br>
            Right now busy studying on my third semester.
        </p>
    </div>
</section>
<section class="org">
    <div id="accordion" class="accordion">
        <h1>EDUCATION</h1>

        <div class="programming-skill">
            <div class="container-skills-flexbox">
                <div class="icon-interpersonal">
                    <img src="{% static 'img/kristo.png' %}" class="img-size">
                    <span>St. Kristoforus II</span>
                    <span>2005 - 2011</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/penabur.png' %}" class="img-size penabur-img">
                    <span>SMPK 6 PENABUR</span>
                    <span>2011 - 2014</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/penabur.png' %}" class="img-size penabur-img">
                    <span>SMAK 1 PENABUR</span>
                    <span>2014 - 2017</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/ui.png' %}" class="img-size">
                    <span>University of Indonesia</span>
                    <span>2017 - present</span>
                </div>
            </div>
        </div>
        <h1>SKILLS</h1>

        <div class="programming-skill">
            <div class="container-skills-flexbox">
                <div class="icon-interpersonal">
                    <img src="{% static 'img/java.png' %}" class="img-size">
                    <span>Java</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/python.png' %}" class="img-size">
                    <span>Python</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/odoo.png' %}" class="img-size">
                    <span>Odoo</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/html.png' %}" class="img-size">
                    <span>HTML5</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/css.png' %}" class="img-size">
                    <span>CSS3</span>
                </div>
                <div class="icon-interpersonal">
                    <img src="{% static 'img/js.png' %}" class="img-size">
                    <span>JS</span>
                </div>
            </div>
        </div>

        <h1>EXPERIENCES</h1>
        <section id="experiences" class="experiences">
            <div class="experiences-contents">
                <div id="fabelio-exp" class="content">
                    <div class="text-box">
                        <p class="title"><strong>Software Engineer Intern</strong></p>
                        <p class="body-txt"><i>At Fabelio</i></p>
                        <p class="desc-exp">
                            <br>Fixed bugs and improve performance of Fabelio’s website.
                            <br> Created new HR system using OpenERP Odoo.
                        </p>
                    </div>
                    <div class="img-fabelio">
                        <img src="{% static 'img/fabelio.png' %}">
                        <span>(May 2018 - August 2018)</span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<div class="back-button">
    <a class="back" href="{% url 'landing-page' %}">BACK</a>
</div>
</body>
</html>