{% load static %}
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-center" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'landing-page' %}">Status</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'profile-page' %}">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subscribe' %}">Subscribe Me!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'subscriber-page' %}">Subscriber List</a>
            </li>
        </ul>
    </div>
</nav>