#input-password {
    margin-bottom: 8px;
}

.fail {
    color: red;
}

.container-fluid {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

#table {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

@media screen and (max-width: 768px) {
    #table {
        display: block;
    }
}