html, body {
    margin: 0;
    padding: 0;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

.body {
    background: url('../img/background.jpg') no-repeat fixed center;
}

.body-2 {
    background: url('../img/bg2.jpg') no-repeat fixed center;
}

h1 {
    font-weight: 800;
}

.form-status {
    border: solid 2px black;
    border-radius: 20px;
    display: flex;
    padding: 2%;
    width: 47rem;
    max-width: 47rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-status-2 {
    color: white;
    border: solid 2px white;
    border-radius: 20px;
    display: flex;
    padding: 2%;
    width: 47rem;
    max-width: 47rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2%;
    padding-left: 20%;
    padding-right: 20%;
    margin-bottom: 2%;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.result-box {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    border: solid 2px black;
    margin-bottom: 1rem;
    width: 50%;
    background-color: white;
    word-break: break-word;
}

.result-box-2 {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    border: solid 2px black;
    margin-bottom: 1rem;
    width: 50%;
    background-color: steelblue;
    color: white;
    word-break: break-word;
}

.result-box:hover {
    transition: 0.5s;
    background-color: orange;
    cursor: pointer;
}

.result-box-2:hover {
    transition: 0.5s;
    background-color: orange;
    color: black;
    cursor: pointer;
}

.result-text {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 0;
}

#counter {
    color: #555555;
    margin-bottom: 0;
}

.submit-button input {
    background-color: steelblue;
    color: white;
    border: solid 1px black;
    border-radius: 10px;
    height: 2rem;
}

.submit-button input:hover {
    transition: 0.5s;
    background-color: orange;
    color: black;
    cursor: pointer;
}

.text-field {
    width: 44rem;
    height: 3rem;
    border: solid 1px black;
}

.counter-group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fas {
    margin-right: 0.2rem;
}

.text {
    font-size: 20px;
}

.biodata h1 {
    font-size: 48px;
    margin-top: 12px;
    margin-bottom: 1rem;
    letter-spacing: 4px;
    font-weight: bolder;
}

.header {
    position: relative;
    -webkit-background-size: cover;
    padding: 40px 20px 0px 20px;
}

.biodata {
    box-shadow: 8px 8px grey;
    background-color: whitesmoke;
    position: relative;
    opacity: 0.9;
    padding: 40px;
    margin: 40px 48px 0px 48px;
    border-radius: 48px;
    border: solid;
}

.img-circle {
    margin: auto;
    display: block;
    width: 250px;
    border-radius: 50%;
    opacity: 1;
}

.profile-button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

.profile {
    color: white;
    background-color: steelblue;
    padding: 0.5rem;
    border-radius: 12px;
}

.profile:hover {
    transition: 0.5s;
    text-decoration: none;
    color: black;
    background-color: orange;
}

.back {
    padding: 0.5rem;
    background-color: steelblue;
    color: white;
    text-decoration: none;
    border-radius: 12px;
}

.back:hover {
    transition: 0.5s;
    color: black;
    background-color: orange;
}

.back-button {
    margin-top: 1rem;
    padding-left: 2rem;
    padding-bottom: 2px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.change-theme {
    background-color: darkred;
    color: white;
    border-radius: 12px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.change-theme:hover {
    transition: 0.5s;
    background-color: orange;
    color: black;
}

.org {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.experiences {
    margin-bottom: 60px;
}

.experiences-contents .content {
    padding: 36px;
    width: 800px;
    height: 216px;
    border: 4px solid #3D618B;
    border-radius: 30px;
}

.experiences-contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

#fabelio-exp {
    display: flex;
}

.text-box {
    flex: 2;
}

.img-fabelio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-fabelio img {
    width: 164px;
    height: 36px;

}

.img-fabelio span {
    padding-top: 10px;
    font-size: 12px;
}

#fabelio-exp .title {
    font-size: 20px;
    margin-bottom: 0;
}

.accordion {
    background-color: transparent;
    padding: 18px 92px;
}

.accordion:hover {
    background-color: transparent;
}

.ui-state-active {
    background-color: steelblue;
}

.ui-accordion .ui-accordion-header {
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 1.5rem;
    border-radius: 12px;
    opacity: 0.9;
    border: solid 2px black;
}

.ui-accordion .ui-accordion-content {
    background-color: whitesmoke;
    opacity: 0.9;
}

.accordion h1 {
    font-weight: bolder;
}

.programming-skill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container-skills-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 36px;
    width: 100%;
}

.icon-interpersonal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon-interpersonal span {
    margin-top: 12px;
}

.img-size {
    width: 130px;
    height: 130px;
}

.penabur-img {
    width: 112px;
    height: 130px;
}

a:not([href]):not([tabindex]) {
    color: white;
}

a:not([href]):not([tabindex]):hover {
    color: black;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    /* change if the mask should have another color then white */
    z-index: 99;
    /* makes sure it stays on top */
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    /* centers the loading animation horizontally one the screen */
    top: 50%;
    /* centers the loading animation vertically one the screen */
    /* path to your loading animation */
    background: url("../img/wedges.gif") no-repeat center;
    margin: -100px 0 0 -100px;
    /* is width and height divided by two */
}

@media screen and (max-width: 767px) {
    .biodata h1 {
        text-align: center;
        margin-bottom: 4px;
    }

    .header {
        width: 100%;
        position: relative;
        margin: 0;
        padding: 10% 0 10% 0;
    }

    .biodata {
        box-shadow: none;
        background-color: whitesmoke;
        position: relative;
        opacity: 0.9;
        padding: 40px;
        margin: 0;
        border-radius: 48px;
        border: solid;
    }

    .line {
        display: none;
    }

    .text-field {
        width: 20rem;
    }

    .result-box, .result-box-2 {
        width: 100%;
    }

    .form-section {
        padding-left: 4%;
        padding-right: 4%;
    }

    body {
        height: 100vh;
    }

    .experiences-contents .content {
        width: 100%;
        height: 70%;
    }

    .text .content {
        font-size: 14px;
    }

    .experiences {
        padding-left: 20px;
        padding-right: 20px;
    }

    #fabelio-exp {
        font-size: 12px;
        margin-bottom: 0;
    }

    #fabelio-exp .title {
        font-size: 16px;
    }

    .img-fabelio span {
        padding-top: 10px;
        font-size: 10px;
    }

    .text-box {
        margin-right: 10%;
        padding: 2px;
    }

    .img-fabelio img {
        width: 100px;
        height: 20px;
    }

    .img-size {
        width: 90px;
        height: 90px;
    }

    .penabur-img {
        width: 72px;
        height: 90px;
    }

    .accordion {
        background-color: transparent;
        padding: 18px 18px;
    }

    .form {
        width: 100%;
    }

    .form-container {
        padding: 0 1.5rem;
    }
}




