.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 30rem;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem 2rem;
    background-color: whitesmoke;
    opacity: 0.9;
}

.form-btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

body {
    background: url("../img/bg3.png") no-repeat fixed center;
    background-size: cover;
    color: #343a40;
}

body > h1 {
    padding-top: 4rem;
    color: whitesmoke;
}

.success {
    color: greenyellow;
    font-size: 1.25rem;
}

.fail {
    color: red;
    font-size: 1.25rem;
}

.error:focus {
    border: 2px solid red;
    outline: none !important;
    box-shadow: 0 0 10px;
}



@media screen and (max-width: 768px) {
    .form {
        width: 100%;
    }

    .form-container {
        padding: 0 1.5rem;
    }
}