{% extends 'base.html' %}
{% load static %}

{% block title %} Subscriber List {% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/list-subscriber.css' %}" xmlns="http://www.w3.org/1999/html">
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/list-subscriber.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Confirmation Box!</h4>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p class="errorlist"></p>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <input type="password" id="input-password" class="form-control" placeholder="Input Password">
                        <input id='ok' type="button" class="btn btn-primary" onclick="unsubscribe()" value="Confirm">
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <h1 align="center">Subscriber List</h1>
    <section class="result-container container-fluid">
        {% csrf_token %}
        <table id="table" class="table table-hover table-striped table-bordered">
            <thead class="thead-light">
            <tr align="center">
                <th>Name</th>
                <th>Email</th>
                <th>Button</th>
            </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>

    </section>
{% endblock %}
