{% extends 'base.html' %}
{% load static %}

{% block title %} Subscribe Me {% endblock %}

{% block extracss %}
    <link rel="stylesheet" href="{% static 'css/subscribe-page.css' %}">
{% endblock %}

{% block extrascript %}
    <script src="{% static 'js/subscribe.js' %}"></script>
{% endblock %}

{% block content %}
    <h1 align="center">Subscribe Me!</h1>
    <div class="subs-list">
        <a href="{% url 'subscriber-page' %}"></a>
    </div>
    <section class="form-container">
        <div class="errorlist"><p></p></div>
        <form id="form" class="form" method="POST">
            {% csrf_token %}
            {% for form in form %}
                <div class="form-group">
                    {{ form.label_tag }}
                    {{ form }}
                </div>
            {% endfor %}
            <div class="form-btn">
                <button id="submit-btn" type="submit" value="Submit" class="btn" disabled>Submit</button>
            </div>
        </form>
    </section>
{% endblock %}
